@use 'colors';
@use 'library';

.mantine{
    &-LoadingOverlay{
        &-root{
            svg{
                width: 100px;
            }
        }
    }
    &-Divider{
        &-label{
        font-size: 16px;
        font-weight:600 ;
        }
    }
}


.break{
    &--mantine{
        &--nav{


            transition-duration: 300ms;
            .mantine-NavLink{
                &-label{
                    color:colors.$text;
                }
                &-icon{
                    color:colors.$text;
                }
            }

            &:hover{
                background-color: colors.$menu-bg-hover;
                border-radius: 100px;
                .mantine-NavLink{
                    &-label{
                        color:colors.$text-hover;
                    }
                    &-icon{
                        color:colors.$text-hover;
                    }
                }
            }


            &--active{
                background-color: colors.$active-bg;

                .mantine-NavLink{
                    &-label{
                        color:colors.$active;
                    }
                    &-icon{
                        color:colors.$active;
                    }
                }
            }

        }


        &--modal{
            .mantine-Modal{
                &-modal{
                    padding: 0;
                    box-shadow:library.$shadow-md ;

                }

                &-title{
                    padding: 5px;
                    color:white
                }
                &-close{
                    margin-right: 20px;
                }

                &-header{
                    background-color: colors.$main-color;
                    border-radius: 3px 3px 0 0;
                    margin: 0;
                }

            }
        }


        &--table{
            &--active{
                background-color: colors.$active-bg;
            }

            &--hover{
                &:hover{
                    background-color:colors.$hover;
                }
            }
        }

        &--scroll{
            .mantine-ScrollArea-scrollbar{
                display: none;
            }
        }

        &--table{
            &--stickyHeader{
                position: sticky;
                top:0;
                background-color: colors.$light;
                box-shadow: library.$shadow-xs;
            }
        }
    }
}



