
$main-color:rgb(26, 27, 30);
$success:#4d7c0f;
$danger:#b91c1c;
$primary:#0369a1;
$success-hover:#365314;
$danger-hover:#7f1d1d;
$primary-hover:#0c4a6e;



$text:rgba(0,0,0,0.7);
$text-hover:rgba(3,105,161,0.8);


$menu-bg-hover:rgba(30,144,255,0.1);


$active:#0369a1;
$active-bg:rgba(30,144,255,0.2);



.main-color{
    background-color: $main-color;
}
