@import 'breakMantine';
@import 'responsive';
@import 'library';
@import 'button';

#Main--Layout{


    #header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 10px 2px 10px rgba(0,0,0,0.3);

    }

    #sidebar{
        box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
        color: rgba(0,0,0,0.7);
    }




}


#html-root{
    background-color: 'red';
}






